.listItem {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: white;
  transition: all ease-out 150ms;
}
.listItem .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
.listItem input[type="text"] {
  background: transparent;
  width: 100%;
}
.listItem input[type="text"]:focus {
  cursor: text;
}
.listItem .actions {
  transition: all 200ms ease-in;
  padding-right: 20px;
}
.listItem .actions a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #eee;
}
.listItem .actions a:hover {
  color: #2cc5d2;
}
.listItem .actions a:active {
  color: #555;
}
.listItem .actions [class^="icon-"] {
  font-size: 16px;
  line-height: 24px;
  line-height: 3rem;
  text-align: center;
}
.listItem.TASK_PINNED .iconStar {
  color: #2cc5d2;
}
.listItem.TASK_ARCHIVED input[type="text"] {
  color: #aaa;
}
.listItem:hover {
  background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
}
.listItem:hover .checkbox {
  cursor: pointer;
}
.listItem + .listItem {
  border-top: 1px solid #f0f9fb;
}
.listItem.checked input[type="text"] {
  color: #ccc;
  text-decoration: line-through;
}
.listItem.checked .deleteItem {
  display: inline-block;
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 44px;
}
.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}
.checkbox input[type="checkbox"] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 0.85em;
  height: 0.85em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: #2cc5d2 0 0 0 1px inset;
  content: '';
  display: block;
}
.checkbox input[type="checkbox"]:checked + span:before {
  font-size: 16px;
  line-height: 24px;
  box-shadow: none;
  color: #2cc5d2;
  margin-top: -1px;
  font-family: 'percolate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e65e";
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 400;
  padding: .75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;
}
