.listItems {
  position: relative;
  background: white;
  min-height: 288px;
}
.listItems .selectPlaceholder {
  border: none;
  width: 48px;
}


@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.loadingItem {
  height: 3rem;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding-left: 16px;
}
.loadingItem .glowCheckbox,
.loadingItem .glowText span {
  animation: glow 1.5s ease-in-out infinite;
  background: #eee;
  color: transparent;
  cursor: progress;
  display: inline-block;
}
.loadingItem .glowCheckbox {
  margin-right: 16px;
  width: 12px;
  height: 12px;
}
.loadingItem + .loadingItem {
  border-top: 1px solid #f0f9fb;
}

.wrapperMessage {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}
.wrapperMessage [class^="icon-"],
.wrapperMessage [class*=" icon-"] {
  font-size: 48px;
  line-height: 56px;
  color: #2cc5d2;
  display: block;
}
.wrapperMessage .titleMessage {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #555;
}
.wrapperMessage .subtitleMessage {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.iconCheck:before {
  content: "\e65e";
}
